{{!-- mostramos la barra de navegación --}}
{{> navigation }}
<div class="container mx-auto">
    {{> messages }}
    {{> errors }}
  </div>
<style>
  body {
    background-color: #52a7c1;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 50%, #aae69a 100%);
  }
</style>

<div class="container mx-auto my-5">
  <div class="row">
    {{#if user}}
    {{!-- Creamos un bucle para recorrer los datos de nuestra base de datos --}}
    {{#each orders}}
    <div class="col-6 my-3">
      <div class="card shadow-sm bg-white rounded" style="height: 100%;">
        <div class="card-body">
          <div class="row row-cols-2">
            {{!-- columna de imagen --}}
            <div class="col-5">
              {{#if image}}
              <img src="data:image/png;base64,{{image}}" alt="" width="100%">
              {{else}}
              <img src="/img/icon.png" alt="imagen no personalizable">
              {{/if}}
            </div>
            {{!-- columna de titulo y description --}}
            <div class="col-7 ">
              {{!-- fila de product and actions --}}
              <div class="row">
                <div class="col-6">
                  <h5>
                    {{ product }}
                  </h5>
                </div>
                <div class="col-2 align-self-top">
                  <button class="btn btn-{{status}} btn-sm" title="El color representa el estatus de tu pedido"
                    data-toggle="popover" data-trigger="hover"
                    data-content="Amarillo: En proceso  |  Verde: Aceptado  |  Rojo: Rechazado"><i
                      class="fas fa-info-circle fa-spin"></i></button>
                </div>
                <div class="col-2 align-self-top">
                  {{!-- para editar --}}
                  <a class="btn btn-primary btn-sm" href="/orders/edit/{{_id}}"><i class="fas fa-edit"></i></a>
                </div>
                <div class="col-2 align-self-top">
                  <!-- formlario para eliminar -->
                  <form action="/orders/delete/{{_id}}?_method=DELETE" method="POST">
                    {{!-- Utilizamos el methodoverride para poder eliminar el pedido de acuerdo a su id --}}
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></button>
                  </form>
                </div>
              </div>
              <div class="row mt-2">
                <p class="text-break">
                  {{#if description}}
                  {{description}}
                  {{else}}
                  <p class="font-italic">Producto de venta general. <br>No requiere descripción</p>
                  {{/if}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    {{else}}
    <div class="card mx-auto shadow p-3 mb-5 bg-white rounded">
      <div class="card-body">
        {{!-- Saludamos al usuario uwu --}}
        <div class="card-body">
          <div class="text-center">
            {{!-- Saludamos al usuario uwu --}}
            <h1>Actualmente no tienes ninguna orden creada <i class="fas fa-frown ml-2"></i></h1>
            <hr>
            <img src="/img/space.svg" alt="" width="55%" height="40%">
          </div>
        </div>
        <a href="/orders/add" class="btn btn-success btn-block btn-lg"><i class="fas fa-plus mr-2"></i> Crea tu primer
          pedido ahora</a>
      </div>
    </div>
    {{/each}}
    {{else}}
    <li class="nav-item">
      <a class="nav-link" href="/users/signin">Iniciar Sesión <i class="fas fa-sign-in-alt"></i></a>
    </li>
    {{/if}}
  </div>
</div>
<script>
  $(document).ready(function () {
    $('[data-toggle="popover"]').popover();
  });
</script>