{{!-- mostramos la barra de navegación --}}
{{> navigation }}
<div class="container mx-auto">
    {{> messages }}
    {{> errors }}
  </div>
<style>
    body {
        background-color: #52a7c1;
        background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 50%, #aae69a 100%);
    }
</style>
<div class="container mx-auto my-4">
    {{!-- menu de filtros --}}
    {{#if statusOrder}}
    <div class="row row-cols-2 my-5">
        {{!-- Filtros --}}
        {{>filters-orders}}
        {{!-- Tabla de datos --}}
        <div class="col-8">
            <br>
            <table class="table table-hover table-striped bg-white table-responsive rounded">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    {{!-- Creamos un bucle para recorrer los datos de nuestra base de datos --}}
                    {{#each statusOrder}}
                    <tr>
                        <th scope="row">{{@index}}</th>
                        <td>{{product}}</td>
                        <td>{{description}}</td>
                        <td>{{date}}</td>                        
                        <td id="state">{{status}}</td>
                    </tr>
                    {{else}}
                    <div class="card mx-auto">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-4">

                                </div>
                                <div class="col-8">
                                    <div class="text-center">
                                        <h1>¡Actualmente no tienes ningun dato para consultar!</h1>
                                        <hr>
                                        <img src="/img/team2.svg" alt="" width="65%" height="50%">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </tbody>
            </table>        
        </div>
    </div>
    <br>
    {{else}}
    {{>nodata}}    
    {{/if}}

</div>

<script>
    $(document).ready(function () {
        $('[data-toggle="popover"]').popover();
    });
</script>
<script>    
    function filterInfo(){
        var filter = document.getElementById("state").value;
        console.log(filter+" chinga tu madre");
    } 
    window.onload = filterInfo;

</script>