<style>
    body {
        background-color: #52a7c1;
        background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 50%, #aae69a 100%);
    }
</style>
{{>nav-admin}}
<div class="container mx-auto my-4">
    {{!-- menu de filtros --}}
    {{#if ordersAll}}
    <div class="row my-5">        
        <div class="col-12">
            <br>
            <table class="table table-hover table-striped bg-white table-responsive rounded">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col" style="width: 7.5%;" class="text-center">#</th>
                        <th scope="col" style="width: 10%;">Name</th>
                        <th scope="col" style="width: 20%;">Description</th>
                        <th scope="col" style="width: 30%;" class="text-center">Imagen</th>
                        <th scope="col" style="width: 27.5%;">Fecha</th>
                        <th scope="col" style="width: 7.5%;">Status</th>
                        <th scope="col" style="width: 7.5%;">Acciones</th>
                    </tr>
                </thead>
                <tbody>

                    {{!-- Creamos un bucle para recorrer los datos de nuestra base de datos --}}
                    {{#each ordersAll}}
                    <tr>
                        <th scope="row" class="text-center align-middle">{{@index}}</th>
                        <td class="align-middle">{{product}}</td>
                        <td class="align-middle">{{description}}</td>
                        <td class="text-center align-middle">
                            {{#if image}}
                            <img src="data:image/png;base64,{{image}}" alt="" height="160px">
                            {{else}}
                            <img src="/img/icon.png" alt="imagen no personalizable" height="160px">
                            {{/if}}
                        </td>
                        <td class="align-middle">{{date}}</td>
                        <td class="text-center align-middle">                            
                            <input type="hidden" id="state" value="Todos">
                            <a class="btn btn-{{status}} btn-sm" href="/admin/order/update/status/{{_id}}"><i class="fas fa-edit"></i></a>
                        </td>
                        <td class="text-center align-middle">
                            <form action="/admin/orders/delete/{{_id}}?_method=DELETE" method="POST">
                                {{!-- Utilizamos el methodoverride para poder eliminar el pedido de acuerdo a su id --}}
                                <input type="hidden" name="_method" value="DELETE">
                                <button type="submit" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></button>
                            </form>
                        </td>
                    </tr>
                    {{else}}
                    <div class="card mx-auto">
                        <div class="card-body">
                            {{!-- Saludamos al usuario uwu --}}
                            <div class="text-center">
                                {{!-- Saludamos al usuario uwu --}}
                                <h1>¡Actualmente no tienes ningun dato para consultar!</h1>
                                <hr>
                                <img src="/img/team2.svg" alt="" width="65%" height="50%">
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </tbody>
            </table>
            <br>
            <hr>
            <div class="">
                {{!-- Exportación de tablas a archivos --}}
                {{>export-data}}
            </div>
        </div>
    </div>
    <br>
    {{else}}
    <div class="card mx-auto">
        <div class="card-body">
            {{!-- Saludamos al usuario uwu --}}
            <div class="text-center">
                {{!-- Saludamos al usuario uwu --}}
                <h1>¡Actualmente no tienes ningun dato para consultar!</h1>
                <hr>
                <img src="/img/team2.svg" alt="" width="65%" height="50%">
            </div>
        </div>
    </div>
    {{/if}}
</div>
<script>
    $(document).ready(function () {
        $('[data-toggle="popover"]').popover();
    });
</script>
<script>
    function filterInfo() {
        var filter = document.getElementById('state').value;  
        var disfil = document.getElementById('infofilter');                        
        disfil.innerHTML = `<p><h6>Filtrando por: ${filter}</h6></p>`;
    }    
    window.onload = filterInfo;
</script>
