{{!-- IMPORTANTE, se debe instalar una version antigua de handlebars4.5.0 --}}
<style>
    body {
        background-color: #52a7c1;
        background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 50%, #aae69a 100%);
    }
</style>
{{>nav-admin}}
<div class="container mx-auto my-4">
    {{!-- menu de filtros --}}
    {{#if dateOrder}}
    <div class="row row-cols-2 my-5">
        <div class="col-3 sticky-top mr-5">
            <div class="col-12 bg-white mb-5 sticky-top shadow-sm pb-3 bg-white rounded">
                <h4 class="my-4">
                    <i class="fas fa-filter mt-4 mx-2"></i>Filtros
                </h4>
                <hr class="mb-4">
                <div class="list-group list-group-flush">
                    <a href="/Orders-Admin" class="list-group-item list-group-item-action">
                        <i class="fas fa-list mr-1"></i>Todos</h5>
                    </a>
                </div>
                <div class="btn-group dropright">
                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        Status
                    </button>
                    <div class="dropdown-menu dropright">
                        <a class="dropdown-item text-warning" href="/Orders-Status-Pending"> <i
                                class="fas fa-exclamation-triangle mr-1"></i>Pendientes</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-success" href="/Orders-Status-Validated"><i
                                class="fas fa-check-circle mr-1"></i>Aprobados</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-danger" href="/Orders-Status-Rejected"><i
                                class="fas fa-times-circle mr-1"></i>Rechazados</a>
                    </div>
                </div>
                <br>
                <div class="btn-group dropright">
                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        Fecha
                    </button>
                    <div class="dropdown-menu dropright">
                        <a class="dropdown-item text-primary" href="/Orders-Date-Recently"><i class="fas fa-calendar-minus mr-1"></i>Reciente</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-muted" href="/Orderes-Date-Long-Ago"><i class="fas fa-calendar-plus mr-1"></i>Antiguo</a>
                    </div>
                </div>
                <br>
                <div class="btn-group dropright">
                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-plus mr-1"></i>Otros
                    </button>
                    <div class="dropdown-menu dropright">
                        <a class="dropdown-item" href="/Orders-Name-Admin">
                            <i class="fas fa-user-cog mr-1"></i>Por Solicitante
                        </a>
                        <div class="dropdown-divider"></div>
                    </div>
                </div>
            </div>
        </div>

        {{!-- Tabla de datos --}}
        <div class="col-8">
            <br>
            <table class="table table-hover table-striped bg-white table-responsive rounded">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>                        
                        <th scope="col">Fecha</th>                        
                        <th scope="col">Detalles</th>                        
                    </tr>
                </thead>
                <tbody>
                    {{!-- Creamos un bucle para recorrer los datos de nuestra base de datos --}}
                    {{#each dateOrder}}
                    <tr>
                        <th scope="row">{{@index}}</th>
                        <td>{{product}}</td>
                        <td>{{date}}</td>                        
                    </tr>
                    {{else}}
                    <div class="card mx-auto">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-4">
                                </div>
                                <div class="col-8">
                                    <div class="text-center">
                                        <h1>¡Actualmente no tienes ningun dato para consultar!</h1>
                                        <hr>
                                        <img src="/img/team2.svg" alt="" width="65%" height="50%">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </tbody>
            </table>
            <br>
            <hr>
            <div class="bg-danger">
                <div class="float-left">
                    <h4><i class="fas fa-file-import mr-1"></i>IMPORTAR DATOS A UN ARCHIVO</h4>
                </div>
                <div class="float-right mx-1">
                    <button class="btn btn-primary">
                        <i class="fas fa-file-word mr-1"></i>.DOCX
                    </button>
                </div>
                <div class="float-right mx-1">
                    <button class="btn btn-danger">
                        <i class="fas fa-file-pdf mr-1"></i>.PDF
                    </button>
                </div>
                <div class="float-right mx-1">
                    <button class="btn btn-success">
                        <i class="fas fa-file-excel mr-1"></i>.XLSX
                    </button>
                </div>
            </div>
        </div>
    </div>
    <br>
    {{else}}
    {{>nodata}}
    {{/if}}

</div>

<script>
    $(document).ready(function () {
        $('[data-toggle="popover"]').popover();
    });
</script>