{{> navigation }}
<div class="container mx-auto">
    {{> messages }}
    {{> errors }}
  </div>
<style>
    body {
        background-color: #52a7c1;
        background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 50%, #aae69a 100%);
    }
</style>
<div class="container mx-auto my-4">
    {{!-- menu de filtros --}}
    {{#if typeOrder}}
    <div class="row row-cols-2 my-5">
        <div class="col-3 sticky-top mr-5">
            {{!-- Filtros --}}
            {{>filters-user}}
        </div>
        {{!-- Tabla de datos --}}
        <div class="col-8">
            <br>
            <table class="table table-hover table-striped bg-white table-responsive rounded">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Producto</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Imagen</th>
                        <th scope="col">Fecha</th>
                    </tr>
                </thead>
                <tbody>
                    {{!-- Creamos un bucle para recorrer los datos de nuestra base de datos --}}
                    {{#each typeOrder}}
                    <tr>
                        <th scope="row">{{@index}}</th>
                        <td>{{product}}</td>
                        <input type="hidden" id="state" value="{{tag}}">
                        <td>{{description}}</td>                        
                        <td>                            
                            {{#if image}}
                                <img src="data:image/png;base64,{{image}}" alt="" style=" height:100px ">
                            {{else}}
                                <img src="/img/icon.png" alt="imagen no personalizable" style=" height:100px ">
                            {{/if}}
                        </td>
                        <td>{{date}}</td>                        
                    </tr>
                    {{else}}
                    <div class="card mx-auto">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-4">
                                </div>
                                <div class="col-8">
                                    <div class="text-center">
                                        <h1>¡Actualmente no tienes ningun dato para consultar!</h1>
                                        <hr>
                                        <img src="/img/team2.svg" alt="" width="65%" height="50%">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </tbody>
            </table>
            <br>
            <hr>
            <div class="">
                {{!-- Exportación de tablas a archivos --}}
                {{>export-data}}
            </div>
        </div>
    </div>
    <br>
    {{else}}
    {{>nodatauser}}
    {{/if}}

</div>

<script>
    $(document).ready(function () {
        $('[data-toggle="popover"]').popover();
    });
</script>
<script>
    function filterInfo() {
        var filter = document.getElementById("state").value;
        var sfilter;
        var disfil = document.getElementById('infofilter');
        let uwu;
        if (filter == "customizable") {
            sfilter = "Producto Personalizable"
            disfil.innerHTML = `<p><h6 class="text-primary">Filtrando por: ${sfilter}</h6></p>`;            
            uwu = "Personalizable";
            document.getElementById("infotype").value = uwu;    
        }
        if (filter == "noncustomizable") {
            sfilter = "Producto General"
            disfil.innerHTML = `<p><h6 class="text-primary">Filtrando por: ${sfilter}</h6></p>`;
            uwu = "General";
            document.getElementById("infotype").value = uwu;
        }
    }
    window.onload = filterInfo;
</script>