{{> navigation }}
<div class="container mx-auto">
    {{> messages }}
    {{> errors }}
  </div>
<div class="container mx-auto mt-5 mb-4">
  <div class="col-12">
    {{#if user}}
    <div id="calendar">
      <script>
        var eventos = [];
        var comentarios = [];
        var fechas = [];
        var urls = [];
        {{#each eventos}}
          comentarios.push("{{titulo}}");
          fechas.push("{{year}}" + "-" + "{{month}}" + "-" + "{{day}}" + "T" + "{{time}}");
          urls.push("{{url}}");
        {{/each}}
        var index = comentarios.length;
        for (let i = 0; i < index; i++) {
          var evento = {};
          var titulo = comentarios[i];
          var fecha = fechas[i];
          var url = urls[i];
          evento.title = titulo;
          evento.start = fecha;
          evento.url = url;
          eventos.push(evento);
        }
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
          events: eventos,
          eventClick: function (info) {
            info.jsEvent.preventDefault();

            if (info.event.url) {
              window.open(info.event.url);
            }
          }
        });
        calendar.render();

      </script>
    </div>
    <br>
    {{else}}
    <li class="nav-item">
      <a class="nav-link" href="/users/signin">Iniciar Sesión <i class="fas fa-sign-in-alt"></i></a>
    </li>
    {{/if}}
  </div>
  <br>
</div>