{{> navigation }}
<div class="container mx-auto">
    {{> messages }}
    {{> errors }}
  </div>
<div class="container mx-auto mt-4 mb-3">
    <div class="row mx-auto">
        {{#if user}}
        <div class="col-7">
            <div class="card my-5">
                <div class="card-body">
                    <p>
                    <h4 class="text-center">
                        <i class="fas fa-clipboard-list"></i> Producto: {{product}}
                    </h4>
                    </p>
                    <hr>
                    <p>
                    <h5>
                        Horario
                    </h5>
                    <i class="fas fa-clock mr-2"></i>Fecha: {{date}}
                    <br>
                    <i class="fas fa-calendar mr-2"></i>Hora: {{date}}
                    </p>
                    <hr>
                    <p>
                    <h5>
                        <i class="fas fa-money-bill-alt mr-2"></i>Monto pendiente
                    </h5>
                    ${{amount}}.00
                    </p>
                    <hr>
                    <p>
                    <h5>
                        <i class="fas fa-map-marked-alt mr-2"></i>Ubicacion
                    </h5>
                    {{station}}, Linea {{line}}
                    </p>
                    <hr>
                    <p>
                    <h5>
                        <i class="fas fa-comment-dots mr-2"></i>Comentarios
                    </h5>
                    {{comments}}
                    </p>
                    <hr>
                    <form action="/schedules/delete/{{id}}?_method=DELETE" method="POST">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit" class="btn btn-danger btn-block">Eliminar <i
                                class="fas fa-trash ml-2"></i></button>
                    </form>
                </div>
                <br>
            </div>
            {{else}}
            <li class="nav-item">
                <a class="nav-link" href="/users/signin">Iniciar Sesión <i class="fas fa-sign-in-alt"></i></a>
            </li>
            {{/if}}
        </div>
        <div class="col-3 mt-5">
            <div class="container mx-auto">
                <div class="float-right">
                    <button class="btn btn-primary" onclick="javascript:window.history.go(-1);">
                        <a class="text-white text-decoration-none">
                            REGESAR<i class="fas fa-reply ml-2"></i>
                        </a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>